.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  border: 1px hidden white;
  margin: auto;
  height: 170px;
  max-width: 450px;
  display: block;
  box-shadow: 5px 10px 25px 15px rgb(184, 178, 178);
}

input {
  padding: 0.7rem;
  max-width: 600px;
  width: 25rem;
  margin: auto;
  margin-bottom: 0px;
  border: 1px hidden grey;
  display: block;
  outline: none;
}

::-webkit-input-placeholder {
  color: black;
}

textarea {
  margin-top: 0px;
  max-width: 500px;
  width: 25rem;
  border: 1px hidden grey;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.7rem;
  resize: none;
}

.btn {
  float: right;
  outline: none;
  background-color: #fcd34d;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.6em;
  font-size: 1rem;
  margin-right: 10px;
}

.btn:hover {
  opacity: 0.9;
  color: black;
}

select {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  outline: none;
  margin-left: "25px";
  font-size: inherit;
}

.binding {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-auto-columns: fit-content();
  justify-items: center;
  max-width: 780px;
  margin: auto;
  grid-auto-flow: column;
}

@media scree and (min-width: 200px) {
  .binding {
    display: grid;
    grid-template-rows: repeat(4, 0.5fr);
  }
}

.notesCard {
  margin: 1rem;
  border: 1px hidden grey;
  padding: 0.8rem;
  display: inline-block;
  width: 10rem;
  height: fit-content;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 4px rgb(128, 128, 128);
}

.notesCard h1 {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.notesCard p {
  font-size: 1rem;
  text-align: center;
  padding: 0.2rem;
}
